<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Classification</title>


</head>

<body>
  <div class="container row main-container">
    <div class="col s12 dd-container">
      <div class="card dd-card">
        <div class="card-content black-text file-field">
          <div id="drop-container">
            <span class="drag-txt"><b><h2>Drag and drop image here</h2></b></span>
            <span class="or-txt"><b>or</b></span>
            <form action="/submission" method = "post" enctype="multipart/form-data">
              <div class="waves-effect waves-light btn" id="browse-container">
                <span><h2>Browse files</h2></span>
                <input type="file" name="my_image" id="browse-button" accept="image/*"><br><br>
                <input type="submit" id="submit-button" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
